In [6]:
import numpy as np
from matplotlib import pyplot as plt
import seaborn
import pandas as pd

In [15]:

df = pd.read_csv('/Volumes/LocalDataHD/j/jt/jt306/Downloads/Camera.csv', sep=';') # read_csv: args = address, separator
columns = ['Model', 'Date', 'MaxRes', 'LowRes', 'EffPix', 'ZoomW', 'ZoomT',
           'NormalFR', 'MacroFR', 'Storage', 'Weight', 'Dimensions', 'Price'] #initialise list of column titles
df.columns = columns                                           #assign this to 'columns' attribute of dataframe
df.head() # argument = number of top items; default = top 5

,Model,Date,MaxRes,LowRes,EffPix,ZoomW,ZoomT,NormalFR,MacroFR,Storage,Weight,Dimensions,Price
0,STRING,DOUBLE,DOUBLE,DOUBLE,DOUBLE,DOUBLE,DOUBLE,DOUBLE,DOUBLE,DOUBLE,DOUBLE,DOUBLE,DOUBLE
1,Agfa ePhoto 1280,1997,1024.0,640.0,0.0,38.0,114.0,70.0,40.0,4.0,420.0,95.0,179.0
2,Agfa ePhoto 1680,1998,1280.0,640.0,1.0,38.0,114.0,50.0,0.0,4.0,420.0,158.0,179.0
3,Agfa ePhoto CL18,2000,640.0,0.0,0.0,45.0,45.0,0.0,0.0,2.0,0.0,0.0,179.0
4,Agfa ePhoto CL30,1999,1152.0,640.0,0.0,35.0,35.0,0.0,0.0,4.0,0.0,0.0,269.0

In [29]:
df['MaxRes'][:3] # dict style notation - produces series type data - first entry is type

0    DOUBLE
1    1024.0
2    1280.0
Name: MaxRes, dtype: object

In [30]:
df.MaxRes[:3] # attribute style notation

0    DOUBLE
1    1024.0
2    1280.0
Name: MaxRes, dtype: object

In [17]:

df[['Model','Date','MaxRes','LowRes','Weight','Dimensions','Price']].head() # double sq brackets: list of feats

              Model    Date  MaxRes  LowRes  Weight Dimensions   Price
0            STRING  DOUBLE  DOUBLE  DOUBLE  DOUBLE     DOUBLE  DOUBLE
1  Agfa ePhoto 1280    1997  1024.0   640.0   420.0       95.0   179.0
2  Agfa ePhoto 1680    1998  1280.0   640.0   420.0      158.0   179.0
3  Agfa ePhoto CL18    2000   640.0     0.0     0.0        0.0   179.0
4  Agfa ePhoto CL30    1999  1152.0   640.0     0.0        0.0   269.0

In [18]:
df['Make'] = df['Model'].apply(lambda s:s.split()[0])  #'apply' applies a function on each column/row
# lambda <argument> : function's return

In [42]:
a = lambda x,y : x**2-y
a(3,5)

4

In [44]:
df.sort_values(['Date'],ascending = False).head() # sort according to one attribute, choose if ascending, take head of this

,Model,Date,MaxRes,LowRes,EffPix,ZoomW,ZoomT,NormalFR,MacroFR,Storage,Weight,Dimensions,Price,Make
0,STRING,DOUBLE,DOUBLE,DOUBLE,DOUBLE,DOUBLE,DOUBLE,DOUBLE,DOUBLE,DOUBLE,DOUBLE,DOUBLE,DOUBLE,STRING
541,Nikon Coolpix S50,2007,3072.0,2592.0,7.0,38.0,114.0,30.0,4.0,13.0,165.0,88.0,229.0,Nikon
560,Nikon D3,2007,4256.0,3184.0,12.0,0.0,0.0,0.0,0.0,0.0,1300.0,160.0,4999.0,Nikon
546,Nikon Coolpix S51c,2007,3264.0,2592.0,7.0,38.0,114.0,30.0,4.0,13.0,175.0,98.0,329.0,Nikon
545,Nikon Coolpix S510,2007,3264.0,3200.0,8.0,35.0,105.0,50.0,15.0,52.0,125.0,88.0,399.0,Nikon

In [56]:
df[(df['Price']==229.0]).head()

SyntaxError: invalid syntax (<ipython-input-56-a9668c7eda07>, line 1)